apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    description: Backstage Operator
  labels:
    operatorframework.io/arch.amd64: supported
  name: backstage-operator.v0.0.0
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Backstage is the Schema for the Red Hat Developer Hub backstages
        API. It comes with pre-built plug-ins, configuration settings, and deployment
        mechanisms, which can help streamline the process of setting up a self-managed
        internal developer portal for adopters who are just starting out.
      displayName: Red Hat Developer Hub
      kind: Backstage
      name: backstages.rhdh.redhat.com
      version: v1alpha1
    - description: Backstage is the Schema for the Red Hat Developer Hub backstages
        API. It comes with pre-built plug-ins, configuration settings, and deployment
        mechanisms, which can help streamline the process of setting up a self-managed
        internal developer portal for adopters who are just starting out.
      displayName: Red Hat Developer Hub
      kind: Backstage
      name: backstages.rhdh.redhat.com
      version: v1alpha2
    - description: |-
        Backstage is the Schema for the Red Hat Developer Hub backstages API.
        It comes with pre-built plug-ins, configuration settings, and deployment mechanisms,
        which can help streamline the process of setting up a self-managed internal
        developer portal for adopters who are just starting out.
      displayName: Red Hat Developer Hub
      kind: Backstage
      name: backstages.rhdh.redhat.com
      version: v1alpha3
  description: |
    Backstage Operator
  displayName: Backstage Operator
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - Backstage
  links:
  - name: Backstage Operator
    url: https://github.com/redhat-developer/rhdh-operator
  maintainers:
  - email: asoro@redhat.com
    name: Armel Soro
  - email: cdaley@redhat.com
    name: Corey Daley
  - email: gazarenk@redhat.com
    name: Gennady Azarenkov
  - email: nboldt@redhat.com
    name: Nick Boldt
  maturity: alpha
  minKubeVersion: 1.25.0
  provider:
    name: Red Hat Inc.
    url: https://www.redhat.com/
  version: 0.0.0
