apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    createdAt: "2025-11-04T14:02:55Z"
    description: Backstage Operator
    operators.operatorframework.io/builder: operator-sdk-v1.37.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
  labels:
    operatorframework.io/arch.amd64: supported
  name: backstage-operator.v0.9.0
spec:
  apiservicedefinitions: {}
  customresourcedefinitions: {}
  description: |
    Backstage Operator
  displayName: Backstage Operator
  install:
    spec:
      deployments: []
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - Backstage
  links:
  - name: Backstage Operator
    url: https://github.com/redhat-developer/rhdh-operator
  maintainers:
  - email: asoro@redhat.com
    name: Armel Soro
  - email: gazarenk@redhat.com
    name: Gennady Azarenkov
  - email: nboldt@redhat.com
    name: Nick Boldt
  maturity: alpha
  minKubeVersion: 1.25.0
  provider:
    name: Red Hat Inc.
    url: https://www.redhat.com/
  version: 0.9.0
