apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "rhdh.redhat.com/v1alpha1",
          "kind": "Backstage",
          "metadata": {
            "labels": {
              "app.kubernetes.io/name": "backstage"
            },
            "name": "backstage-sample"
          }
        },
        {
          "apiVersion": "rhdh.redhat.com/v1alpha2",
          "kind": "Backstage",
          "metadata": {
            "labels": {
              "app.kubernetes.io/name": "backstage"
            },
            "name": "backstage-sample"
          }
        },
        {
          "apiVersion": "rhdh.redhat.com/v1alpha3",
          "kind": "Backstage",
          "metadata": {
            "labels": {
              "app.kubernetes.io/name": "backstage"
            },
            "name": "backstage-sample"
          }
        }
      ]
    createdAt: "2025-01-03T14:59:00Z"
    description: Backstage Operator
    operators.operatorframework.io/builder: operator-sdk-v1.37.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
  labels:
    operatorframework.io/arch.amd64: supported
  name: backstage-operator.v0.5.0
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - kind: Backstage
      name: backstages.rhdh.redhat.com
      version: v1alpha1
    - kind: Backstage
      name: backstages.rhdh.redhat.com
      version: v1alpha2
    - kind: Backstage
      name: backstages.rhdh.redhat.com
      version: v1alpha3
  description: |
    Backstage Operator
  displayName: Backstage Operator
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          - persistentvolumeclaims
          - secrets
          - services
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - persistentvolumes
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          - statefulsets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - rhdh.redhat.com
          resources:
          - backstages
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - rhdh.redhat.com
          resources:
          - backstages/finalizers
          verbs:
          - update
        - apiGroups:
          - rhdh.redhat.com
          resources:
          - backstages/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - route.openshift.io
          resources:
          - routes
          - routes/custom-host
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: backstage-operator
      deployments:
      - label:
          app: backstage-operator
          app.kubernetes.io/component: manager
          app.kubernetes.io/created-by: backstage-operator
          app.kubernetes.io/instance: backstage-operator
          app.kubernetes.io/managed-by: kustomize
          app.kubernetes.io/name: deployment
          app.kubernetes.io/part-of: backstage-operator
        name: backstage-operator
        spec:
          replicas: 1
          selector:
            matchLabels:
              app: backstage-operator
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                app: backstage-operator
            spec:
              affinity:
                nodeAffinity:
                  requiredDuringSchedulingIgnoredDuringExecution:
                    nodeSelectorTerms:
                    - matchExpressions:
                      - key: kubernetes.io/arch
                        operator: In
                        values:
                        - amd64
                      - key: kubernetes.io/os
                        operator: In
                        values:
                        - linux
              automountServiceAccountToken: true
              containers:
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=:8443
                - --metrics-secure=true
                - --leader-elect
                command:
                - /manager
                image: quay.io/rhdh-community/operator:0.5.0
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: health
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                ports:
                - containerPort: 8081
                  name: health
                - containerPort: 8443
                  name: metrics
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: health
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    ephemeral-storage: 20Mi
                    memory: 1Gi
                  requests:
                    cpu: 10m
                    memory: 128Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
                volumeMounts:
                - mountPath: /default-config
                  name: default-config
              securityContext:
                runAsNonRoot: true
              serviceAccountName: backstage-operator
              terminationGracePeriodSeconds: 10
              volumes:
              - configMap:
                  name: backstage-default-config
                name: default-config
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: backstage-operator
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - Backstage
  - RHDH
  links:
  - name: Backstage Operator
    url: https://github.com/redhat-developer/rhdh-operator
  maintainers:
  - email: asoro@redhat.com
    name: Armel Soro
  - email: cdaley@redhat.com
    name: Corey Daley
  - email: gazarenk@redhat.com
    name: Gennady Azarenkov
  - email: nboldt@redhat.com
    name: Nick Boldt
  maturity: alpha
  minKubeVersion: 1.25.0
  provider:
    name: Red Hat Inc.
    url: https://www.redhat.com/
  version: 0.5.0
