apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Adds namespace to all resources.
namespace: backstage-system

namePrefix: backstage-

resources:
- ../../crd
- ../../rbac
- ../../manager

images:
- name: controller
  newName: quay.io/rhdh-community/operator
  newTag: 0.5.0
