apiVersion: v1
kind: Service
metadata:
  labels:
    app: backstage-operator
    app.kubernetes.io/name: service
    app.kubernetes.io/instance: controller-manager-metrics-service
    app.kubernetes.io/component: metrics
    app.kubernetes.io/created-by: backstage-operator
    app.kubernetes.io/part-of: backstage-operator
    app.kubernetes.io/managed-by: kustomize
  name: controller-manager-metrics-service
  namespace: system
spec:
  ports:
    - name: metrics
      port: 8443
      protocol: TCP
      targetPort: metrics
  selector:
    app: backstage-operator
