name: PR Renovate Config Validator

on:
  pull_request:
    paths:
      - '.github/renovate.json'
    # Renovate always uses the config from the repository default branch
    # https://docs.renovatebot.com/configuration-options/
    branches: [ 'main' ]

jobs:
  renovate-config-validator:
    runs-on: ubuntu-latest
    name: Renovate Config Validator
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Validate config
        # See https://docs.renovatebot.com/config-validation/
        run: |
          npx --yes --package renovate -- renovate-config-validator --strict .github/renovate.json
