name: PR Renovate Config Validator

on:
  pull_request:
    paths:
      - '.github/renovate.json'
    # Renovate always uses the config from the repository default branch
    # https://docs.renovatebot.com/configuration-options/
    branches: [ 'main' ]

jobs:
  renovate-config-validator:
    runs-on: ubuntu-latest
    name: Renovate Config Validator
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Print Renovate version
        run: |
          npx --yes --package renovate@37.0.0 -- renovate --version
      - name: Validate config
        # See https://docs.renovatebot.com/config-validation/
        run: |
          npx --yes --package renovate@37.0.0 -- renovate-config-validator --strict .github/renovate.json
