name: Validate Image Digests

on:
  pull_request:
    paths:
      - '.github/workflows/validate-image-digests.yaml'
      - 'Makefile'
      - 'hack/validate-image-digests.sh'
      - 'Dockerfile'
      - '**/*bundle.Dockerfile'
      - '.rhdh/docker/Dockerfile'

jobs:
  validate-image-digests:
    name: Validate Image Digests
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run validation script
        run: make validate-image-digests
