name: Validate Image Digests

on:
  pull_request:
    paths:
      - '.github/workflows/validate-image-digests.yaml'
      - 'Makefile'
      - 'hack/validate-image-digests.sh'
      - 'Dockerfile'
      - '**/*bundle.Dockerfile'
      - '.rhdh/docker/Dockerfile'

jobs:
  validate-image-digests:
    name: Validate Image Digests
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Run validation script
        run: make validate-image-digests
